core/__pycache__/__init__.cpython-310.pyc
core/__pycache__/config.cpython-310.pyc
core/__pycache__/interactive.cpython-310.pyc
core/__pycache__/melody.cpython-310.pyc
core/__pycache__/play.cpython-310.pyc
core/__pycache__/press_key.cpython-310.pyc
core/__pycache__/score.cpython-310.pyc
utils/__pycache__/__init__.cpython-310.pyc
utils/__pycache__/logs.cpython-310.pyc
utils/__pycache__/tools.cpython-310.pyc
.flake8
